/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar vertikal */
  height: 8px; /* Tinggi scrollbar horizontal */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #262626; /* Warna latar belakang track scrollbar (dark gray) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #525252; /* Warna thumb scrollbar (neutral-600, abu-abu) */
  border-radius: 10px;
  border: 2px solid #262626; /* Padding sekitar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #737373; /* Warna thumb saat hover (neutral-500, abu-abu lebih terang) */
}

/* Styling untuk Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* 'auto' atau 'thin' */
  scrollbar-color: #525252 #262626; /* thumb color track color */
}